/*
This file is copyrighted to the authors stated below.
Any duplication or modifications or usage of the file's contents               
that is not approved by the stated authors is prohibited.
*/
/* 
    Created on : Jul 8, 2014, 12:34:14 PM
    Author     : SoftServe Group [ Mathys Ellis (12019837) Kgothatso Phatedi Alfred Ngako (12236731) Tokologo Machaba (12078027) ]
*/


body
{
    font-family: Arial,sans-serif;
    background-color: darkgrey;
    margin: 0;
}

.background
{
    background-color: darkgray;
}

.container
{
    background-color: darkgrey;
    z-index: 1;
    
    width: 1000px;
    height: auto;
    min-height: 800px;
    overflow: hidden;
    
    margin-left: auto;
    margin-right: auto;
}

.containerHeader
{
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
    width: 980px;
    height: 200px;
    overflow: hidden;
    
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    
}

.containerNavBar
{
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
    width: 980px;
    min-height: 50px;
    overflow: hidden;
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;    
    
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 8%, #eeeeee 38%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#ffffff), color-stop(38%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 8%,#eeeeee 38%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 8%,#eeeeee 38%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 8%,#eeeeee 38%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 8%,#eeeeee 38%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */

}

.containerBody
{
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-color: darkblue;
    border-width: 4px;
    
    width: 951px;
    height: auto;
    min-height: 400px;
    overflow: hidden;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 20px;
}

.containerFooter
{
    background-color: whitesmoke;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
    width: 980px;
    height: 100px;
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.subContainer
{
    overflow: hidden;
    
}

.informationContainer
{
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header1
{
    color: black;
    text-align: center;
    font-size: 21pt;
    border-bottom-color: darkred;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    font-weight: bold;
}

.header2
{
    color: black;
    text-align: center;
    font-size: 12pt;
    border-bottom-color: darkred;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-weight: bold;
}

.header1-1
{
    color: black;
    text-align: center;
    font-size: 18pt;
    border-bottom-color: darkred;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    font-weight: bold;
}

.ui-tabs
{
    margin-top: 10px!important;
    box-shadow: 0px 2px 4px 0px gray!important;
    border: solid gray!important;
    border-radius: 5px!important;
}

.ui-tabs:hover
{
    margin-top: 10px!important;
    box-shadow: 0px 0px 5px 0px darkblue!important;
    border: solid black!important;
    border-radius: 5px!important;
}

.ui-accordion
{
    margin-top: 10px!important;
    box-shadow: 0px 2px 4px 0px gray!important;
    border: solid gray!important;
    border-radius: 5px!important;
}

.ui-accordion:hover
{
    margin-top: 10px!important;
    box-shadow: 0px 0px 5px 0px darkblue!important;
    border: solid black!important;
    border-radius: 5px!important;
}

.ui-accordion-header:hover
{
    
    background: #deefff; 
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); 
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

.ui-panel
{
    margin-top: 10px!important;
    box-shadow: 0px 2px 4px 0px black!important;
}

.ui-datatable
{
    margin-top: 10px!important;
    box-shadow: 0px 2px 4px 0px gray!important;
    //border: solid gray!important;
    //border-radius: 5px!important;
}

.ui-datatable:hover
{
    margin-top: 10px!important;
    box-shadow: 0px 2px 4px 0px darkred!important;
    border-color: black!important;
    //border-radius: 5px!important;
}

.text-label
{
    font-weight: bold;
}

.box-round
{
    
}

.breadCrumbs
{    
    width: 100%;
    min-height: 30px;
    height: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
}

.breadCrumb
{
    font-size: 16pt;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: black;
    
    text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
}

.breadCrumb-disabled
{
    font-size: 16pt;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: gray;
    cursor: default;
}

.breadCrumb:hover
{
    text-decoration-line: underline;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px 2px darkred;

}

.breadCrumb-Splitter
{
    font-size: 16pt;
    font-weight: bold;
    color: darkgray;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.7);        
}

.informationContainerHeader1
{
    color: black;
    text-align: left;
    font-size: 12pt;
    border-bottom-color: darkred;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.errorContainer
{
    color: white;
    
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    
    background: #a90329; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */

}

.errorSpan
{
    
}

.fieldErrorMessage
{
    color: white;
    
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
    
    background: #a90329; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
    
    overflow: hidden;
}

.negate-from-input
{
    width: inherit!important;
}

.negate-from-input input
{
    width: inherit!important;
}

.button-unsized
{
    font-size: 16pt;
    color: black;
    border: solid gray!important;
    border-radius: 5px!important;
    text-align: center!important; 
}

.button-unsized:hover
{
    box-shadow: 0px 0px 5px 0px darkblue!important;
    border-color: black!important;
    background: #deefff; /* Old browsers */
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

.ui-button
{
    color: black;
    text-align: center!important;
}

.ui-button:hover
{
    box-shadow: 0px 0px 5px 0px darkblue!important;
    border-color: black!important;
    background: #deefff; /* Old browsers */
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
}

.button
{
    width: auto;
    font-size: 16pt;
    color: black;
    border: solid gray!important;
    border-radius: 5px!important;
    margin: 2px;
    text-align: center!important;  
    margin-top: 5px;
}


.button:hover
{
    box-shadow: 0px 0px 5px 0px darkblue!important;
    border-color: black!important;


    background: #deefff; 
    background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); 
    background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); 
    background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}

form .button
{
    width: 400px;
}

.button-fill
{
    min-width: 100%;
    height: 50px;
    margin-top: 10px;    
}

form input
{
    width: 400px;
    font-size: 16pt;
    color: black;
    border: solid gray;
    border-radius: 5px;
    margin-bottom: 4px;
}

form input[readonly]
{
    background-color: gainsboro;
}

form select
{
    width: 352px;
    font-size: 16pt;
    color: black;
    border: solid gray;
    border-radius: 5px;
    margin-bottom: 4px;
}

form textarea
{
    width: 400px;
    font-size: 16pt;
    color: black;
    border: solid gray;
    border-radius: 5px;
    margin-bottom: 4px;
}

form select[disabled]
{
    background-color: lightgray;
}

form input.ui-state-focus
{
    box-shadow: 0px 0px 5px 0px cornflowerblue, inset 0px 1px 2px 0px black!important;
}

form textarea.ui-state-focus
{
    box-shadow: 0px 0px 5px 0px cornflowerblue, inset 0px 1px 2px 0px black!important;
}

ui-selectonemenu.ui-state-focus
{
    box-shadow: 0px 0px 5px 0px cornflowerblue, inset 0px 1px 2px 0px black!important;
}

ui-selectonemenu.ui-state-hover
{
    box-shadow: 0px 0px 5px 0px cornflowerblue, inset 0px 1px 2px 0px black!important;
}

form input:focus
{
    //box-shadow: 0px 0px 5px 0px darkblue!important;
    //border-color: black!important;
}

form select:focus
{
    //box-shadow: 0px 0px 5px 0px darkblue!important;
    //border-color: black!important;
}

form input::-webkit-input-placeholder
{
    font-style: italic;
}

form input:-moz-placeholder
{
    font-style: italic;
}

form input::-moz-placeholder
{
    font-style: italic;
}

form input:-ms-input-placeholder
{
    font-style: italic;
}

form label
{
    font-size: 14pt;
    font-weight: bold;
    margin-left: 4px;
    
}

form label span
{
    color: red;
}

.security-picklist td
{
    width: auto;
    height: auto;
    min-width: 10px;
    
}