/*
This file is copyrighted to the authors stated below.
Any duplication or modifications or usage of the file's contents               
that is not approved by the stated authors is prohibited.
*/
/* 
    Created on : Jul 16, 2014, 1:08:58 PM
    Author     : SoftServe Group [ Mathys Ellis (12019837) Kgothatso Phatedi Alfred Ngako (12236731) Tokologo Machaba (12078027) ]
*/
form input
{
    width: 350px;
}

td
{
    min-width: 250px;
}

.fieldErrorMessage
{
    width: 200px;
}
