/*
This file is copyrighted to the authors stated below.
Any duplication or modifications or usage of the file's contents               
that is not approved by the stated authors is prohibited.
*/
/* 
    Created on : Jul 16, 2014, 11:12:35 AM
    Author     : SoftServe Group [ Mathys Ellis (12019837) Kgothatso Phatedi Alfred Ngako (12236731) Tokologo Machaba (12078027) ]
*/

.button-fill
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    
}
